# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build artifacts
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDE
*.idea/
*.vscode/

# Claude
CLAUDE.md
